{
<%
env_lookup.split.each do |n|
  v = ENV[n]
  unless v.nil? || v.empty?
-%>
  "<%= n %>": "<%= ENV[n] %>",
<%-
  end
end
-%>
  "package_source": "<%= package_source %>",
<% unless package_version.empty? -%>
  "package_version": "<%= package_version %>",
<%- end -%>
<% unless package_token.empty? -%>
  "package_token": {
    "__ansible_vault": "<%= package_token.gsub($/, '\n') %>"
  },
<%- end -%>
<% unless package_url.empty? -%>
  "package_url": "<%= package_url %>",
<%- end -%>
<% unless package_variant.empty? -%>
  "package_variant": "<%= package_variant %>",
<%- end -%>
  "repmgr_trust_auth_cidr_addresses": <%= cidrs %>,
  "postgresql_trust_auth_cidr_addresses": <%= cidrs %>,
  "gitlab_root_password": {
    "__ansible_vault": "<%= gitlab_root_password.gsub($/, '\n') %>"
  },
  "db_key_base": {
    "__ansible_vault": "<%= db_key_base.gsub($/, '\n') %>"
  },
  "tracking_database_password": {
    "__ansible_vault": "<%= tracking_database_password.gsub($/, '\n') %>"
  },
  "replica_database_password": {
    "__ansible_vault": "<%= replica_database_password.gsub($/, '\n') %>"
  },
  "application_redis_password": {
    "__ansible_vault": "<%= application_redis_password.gsub($/, '\n') %>"
  },
  "gitaly_auth_token": {
    "__ansible_vault": "<%= gitaly_auth_token.gsub($/, '\n') %>"
  },
  "gitlab_shell_secret_token": {
    "__ansible_vault": "<%= gitlab_shell_secret_token.gsub($/, '\n') %>"
  },
  "grafana_admin_password": {
    "__ansible_vault": "<%= grafana_admin_password.gsub($/, '\n') %>"
  },
<% unless license_data.empty? -%>
  "license_data": {
    "__ansible_vault": "<%= license_data.gsub($/, '\n') %>"
  },
<%- end -%>
<%- unless geo_settings.empty? -%>
  "geo": <%= JSON.pretty_generate(JSON.parse!(geo_settings)) %>,
<%- end -%>
<%- if database_cluster_manager == 'patroni' -%>
  "patroni_enabled": true,
<%- end -%>
"postgresql_listen_address": "<%= postgresql_listen_address %>",
"ssh_known_hosts_path": "<%= ssh_known_hosts_path %>",
"artifacts_path": "<%= artifacts_path %>",
<%- if cert_provider.empty? -%>
"tls_enabled": false,
<%- end -%>
<%- unless cert_provider.empty? -%>
"cert_provider": "<%= cert_provider %>",
"certs_path": "<%= certs_path %>",
<%- end -%>
"domain": "<%= domain %>",
"redis_bind": "<%= redis_bind %>",
<%- if object_storage_enabled == 'true' -%>
"object_storage_enabled": true,
<%- end -%>
"object_storage_prefix": "<%= object_storage_prefix %>",
"object_storage_provider": "<%= object_storage_provider %>",
"google_json_key": "<%= google_json_key %>",
"google_project": "<%= google_project %>",
"google_client_email": "<%= google_client_email %>"
}
