{% if trusted_nodes is defined %}
postgresql['trust_auth_cidr_addresses'] = {{ trusted_nodes | to_nice_json }}
postgresql['md5_auth_cidr_addresses'] = {{ (trusted_nodes + geo_db_replica_node ) | to_nice_json }}
{% endif %}

{% if trusted_nodes is defined and consul_enabled == True and patroni_enabled != True %}
repmgr['trust_auth_cidr_addresses'] = {{ trusted_nodes | to_nice_json }}
repmgr['md5_auth_cidr_addresses'] = {{ trusted_nodes | to_nice_json }}
{% endif %}

{% if postgresql_listen_address is defined %}
postgresql['listen_address'] = '{{ postgresql_listen_address }}'
{% endif %}

{% if application_database_password is defined %}
postgresql['sql_user_password'] = "{{ (application_database_password + 'gitlab') | md5 }}"
{% endif %}

{% if application_pgbouncer_password is defined %}
postgresql['pgbouncer_user_password'] = "{{ (application_pgbouncer_password + 'pgbouncer')  | md5 }}"
{% endif %}

{% if consul_enabled == True %}
{%   if patroni_enabled %}
patroni['postgresql']['max_wal_senders'] = {{ max_replication_slots }}
patroni['postgresql']['max_replication_slots'] = {{ max_replication_slots }}
{%   else %}
postgresql['max_replication_slots'] = {{ max_replication_slots }}
{%   endif %}
{% endif %}
