git_data_dirs({
  'default' => {
    'path' => '/var/opt/gitlab/git-data'
  },
  'storage1' => {
    'path' => '/mnt/gitlab/git-data'
  },
})

{% if external_monitor_enabled == True %}
alertmanager['enable'] = false
prometheus['enable'] = false
{% endif %}

{% if tls_enabled %}
gitlab_shell['http_settings'] = { ca_file: '/etc/gitlab/ssl/{{ domain }}-ca.pem', self_signed_cert: true }
{% endif %}
