{% if external_url is defined and (ansible_host in groups['app'] or inventory_hostname in groups['app']) %}
external_url '{{ external_url }}'
{% endif %}

{% if external_gitaly_enabled == True %}
git_data_dirs({
  'default' => { 'gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][0]]['internal_host'] }}:8075' },
  'storage1' => { 'gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][0]]['internal_host'] }}:8075' },
})
{% endif %}

{% if tls_enabled and cert_provider != "letsencrypt" and (ansible_host in groups['app'] or inventory_hostname in groups['app']) %}
letsencrypt['enable'] = false
nginx['ssl_certificate'] =  '/etc/gitlab/ssl/{{ domain }}.crt'
nginx['ssl_certificate_key'] = '/etc/gitlab/ssl/{{ domain }}.key'
{% endif %}

{% if tls_enabled %}
nginx['redirect_http_to_https'] = true
{% endif %}

{% if external_monitor_enabled == True %}
nginx['status']['options']['allow'] = ['{{ monitor_node_internal_ip }}', '127.0.0.0/8']
{% endif %}
{% if (loadbalancer_internal_ip is defined ) or (external_monitor_enabled == True) %}
gitlab_rails['monitoring_whitelist'] = ['{{ healthcheck_allowlist_ips | join('\', \'') }}']
{% endif %}

{% if object_storage_enabled == True %}
{% if object_storage_provider == "google" %}
gitlab_rails['object_store']['enabled'] = true
gitlab_rails['object_store']['proxy_download'] = true
gitlab_rails['object_store']['connection'] = {
  'provider' => 'Google',
  'google_project' => '{{ google_project }}',
  'google_client_email' => '{{ google_client_email }}',
  'google_json_key_location' => '{{ google_credential_key_location }}'
}
gitlab_rails['object_store']['objects']['artifacts']['bucket'] = '{{ object_storage_prefix }}-artifacts'
gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = '{{ object_storage_prefix }}-external-diffs'
gitlab_rails['object_store']['objects']['lfs']['bucket'] = '{{ object_storage_prefix }}-lfs-objects'
gitlab_rails['object_store']['objects']['uploads']['bucket'] = '{{ object_storage_prefix }}-uploads'
gitlab_rails['object_store']['objects']['packages']['bucket'] = '{{ object_storage_prefix }}-packages'
gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = '{{ object_storage_prefix }}-dependency-proxy'
gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = '{{ object_storage_prefix }}-terraform-state'
{% endif %}
{% endif %}
