frontend http-in
    bind *:80
{% if tls_enabled %}
    redirect scheme https code 301

frontend https-in
    bind *:{{ loadbalancer_port }} ssl crt /usr/local/etc/haproxy/certs/{{ domain }}.pem ca-file /usr/local/etc/haproxy/certs/{{ domain }}-ca.pem
{% endif %}

    acl grafana path_beg -i /-/grafana
    use_backend grafana if grafana

    acl haproxy_stats path_beg -i /lbstats
    use_backend haproxy-stats if haproxy_stats

    default_backend gitlab-rails

frontend prometheus
    bind *:9090

    default_backend prometheus

frontend gitlab-ssh-in
    bind *:22
    mode tcp
    option tcplog
    option clitcpka

    default_backend gitlab-rails-ssh

backend gitlab-rails
{% if tls_enabled %}
    http-request set-header Host {{ domain }}
    http-request set-header X-Forwarded-Proto https

{% endif %}
    option httpchk GET /-/readiness

{% for ip in app_nodes_internal_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:{{ loadbalancer_port }} check{% if tls_enabled %} ssl ca-file /usr/local/etc/haproxy/certs/{{ domain }}-ca.pem {% endif %}

{% endfor %}

backend grafana
{% if tls_enabled %}
    http-request set-header Host {{ domain }}
    http-request set-header X-Forwarded-Proto https

{% endif %}
    option httpchk GET /-/grafana/api/health

    server grafana {{ monitor_node_internal_ip }}:{{ loadbalancer_port }} check{% if tls_enabled %} ssl ca-file /usr/local/etc/haproxy/certs/{{ domain }}-ca.pem {% endif %}

backend prometheus
    option httpchk GET /-/healthy

    server prometheus {{ monitor_node_internal_ip }}:9090 check

backend gitlab-rails-ssh
    mode tcp
    option tcp-check
    option srvtcpka

{% for ip in app_nodes_internal_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:22 check
{% endfor %}

backend haproxy-stats
    server haproxy-stats 127.0.0.1:1936
    option http-use-htx
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /lbstats
    stats refresh 10s
