gitlab_rails['db_key_base'] = "{{ db_key_base }}"

{% if gitlab_roles is defined %}
roles {{ gitlab_roles | tojson }}
{% endif %}

{% for service in gitlab_rb %}
{% for val in gitlab_rb[service] %}
{{ service }}['{{ val }}'] = {{ gitlab_rb[service][val] | to_nice_json }}
{% endfor %}
{% endfor %}

{% if consul_enabled == True %}
consul['configuration']['retry_join'] = {{ consul_retry_join }}
{% endif %}
