{% if redis_bind is defined %}
redis['bind'] = '{{ redis_bind }}'
{% endif %}

redis['port'] = 6379

{% if application_redis_password is defined %}
redis['password'] = '{{ application_redis_password }}'
{% endif %}
